ipykernel
nltk
bs4
lxml
tabula-py
scikit-learn
matplotlib
seaborn
pandas
numpy
python-terrier
nbformat
plotly
pybind11
fasttext-wheel
spacy
stanza
plac
torch
tensorflow
transformers==4.38.0
datasets
ktrain
eli5
accelerate
sentence-transformers
hnswlib
sentencepiece
parlai